body {
    font-family: 'Ubuntu', sans-serif !important;
}

.bg-bluegreen {
    background-color: #095746 !important;
}

.text-justify {
    text-align: justify;
}


.navbar-nav > li{
    padding-left: 1em;
    padding-right: 1em;
}

.main-pg-intro > p {
    font-size: 1.15em;
    text-align: center;
}

#loading-screen {
    display: block;
    transition: all 0.5s linear;
}

#header {
    transition: all 0.5s linear;
}

.modal-body {
        background-color: #26382b;
}

svg {
    display: block;
    margin: auto;
}

.svg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#loading-logo {
    fill: none;
    stroke: #67d78e;
    stroke-width: 10;
    stroke-dasharray: 3450;
    stroke-dataoffset: 3450;
    animation: draw 3.5s normal forwards cubic-bezier(.66,.97,.68,1.02);
}


@keyframes draw {
  from {
    stroke-dashoffset: 3450;
    fill: #67d78e;
  }
  to {
    stroke-dashoffset: 0;
    fill: #26382b;
  }
}
