:root {
    --main-bg-color:  #132b33;
    --modal-bg-color: #073f3b;
}

body {
    font-family: 'Ubuntu', sans-serif !important;
}

.bg-bluegreen {
    background-color: var(--main-bg-color) !important;
}

.text-justify {
    text-align: justify;
}


.navbar-nav > li{
    padding-left: 1em;
    padding-right: 1em;
}

.main-pg-body > p {
    font-size: 1.15em;
    text-align: center;
}

#loading-screen {
    display: block;
    transition: opacity 0.5s linear;
}

#name-header {
    margin: 0 auto;
    transition: opacity 0.4s linear;

    color: #dfeef3;
    font-weight: 900;
    
}

#loading-svg {
   height: 400px;
   transition: height 0.3s linear; 
}

.nosize {
    height: 0px !important;
}

.modal-body {
    background-color: var(--modal-bg-color);
}

svg {
    display: block;
    margin: auto;
}

.svg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#loading-logo {
    fill: none;
    stroke: #67d78e;
    stroke-width: 10;
    stroke-dasharray: 3450;
    stroke-dataoffset: 3450;
    animation: draw 3.5s normal forwards cubic-bezier(.66,.97,.68,1.02);
}


@keyframes draw {
  from {
    stroke-dashoffset: 3450;
    fill: #67d78e;
  }

  to {
    stroke-dashoffset: 0;
    fill: var(--modal-bg-color);
  }
}

#main-pg-intro-description {
    color: #b7b5b5;
    font-size: 0.8em;


}